@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body{
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}


main{
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex{
    width: 100%;
    max-width: 700px;
    z-index: -1;
}

.pokemon__image {
    position : absolute;
    bottom: 52%;
    left : 29%;
    transform: translate(-67%, 10%);
    height: 15%;
    z-index: 0;
}

.pokemon__data {
    position: absolute;
    font-weight: 600;
    color : #6f6e6e;
    top: 53.5%;
    right: 58%;
    font-size: clamp(8px,4vw,25px);
}

.pokemon__extra__data{
    color: #E6EFF9;
    position: absolute;
    font-weight: 500;
    top: 35%;
    left: 64%;
    font-size: clamp(6px,1vw,11px);
    text-transform: capitalize;
}

.pokemon__types__container{
    text-transform: capitalize;
}

.primary__type{
    position: absolute;
    color: #E6EFF9;
    font-weight: 500;
    font-size: clamp(6px,2vw,25px);
    top: 82%;
    left: 61%;
    list-style-type: none;
}
.secondary__type{
    position: absolute;
    color: #E6EFF9;
    font-weight: 500;
    font-size: clamp(6px,2vw,25px);
    top: 82%;
    left: 78%;
    list-style-type: none;
}

.pokemon__name{
    color: #191818;
    text-transform: capitalize;
}

.form{
    position: absolute;
    width: 40%;
    top: 65%;
    left: 7%;
}

.input__search{
    width: 90%;
    padding: 4%;
    outline: none;
    border: 2px solid;
    border-radius: 5px;
    font-weight: 600;
    font-size: clamp(8px,5vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333
}

.buttons{
    position: absolute;
    bottom: 24.92%;
    left: 97.75%;
    width: 65%;
    height: 5.6%;
    transform: translate(-57%, 0);  
    display: flex;
    gap: 2.5px;  
}

.button{
    width: 9%;
    outline: none;
    border: none;
    background-color: #E2E3E3;
    font-size: clamp(8px,5vw, 1rem);
    font-weight: 600;   
    border-radius: 3px;
}

.button:active{
    background-color: #C1C3C3;
    font-size: 0.9rem;
}